@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-cyan: #02b1c8;
  --cyan: #00e1ff;
  --green: #7ffa67;
  --white: #fcfcfc;
  --black: #111;
  --darkest-grey: #151515;
  --dark-grey: #222;
  --grey: #333;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  color: var(--white);
  min-height: 100vh;
  padding: 1.25rem;
  text-shadow: 0.0625rem 0.0625rem 0.0625rem var(--black);
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.8)),
    var(--black) url(https://source.unsplash.com/RF4p4rTM-2s/1280x720) no-repeat
      center fixed;
  background-size: cover;
}


